/* general */
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: rgb(90, 63, 20);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(90, 63, 20);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(20, 9, 5);
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(20, 9, 5);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* nav */
.nav {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 237, 209);
  margin-bottom: 10px;
}

.navLink {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(20, 9, 5);
  padding: 10px;
  background-color: rgb(255, 237, 209);
  margin-right: 10px;
}

.navLink:hover {
  color: rgba(20, 9, 5, 0.43);
}

/* home - body */
.element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 249, 238);
  margin: 10px;
  padding-bottom: 20px;
}

.checkIn {
  width: 250px;
  height: 175px;
  margin-right: 7px;
}

.checkIn:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.book {
  width: 250px;
  height: 175px;
}

.book:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.accommodation {
  width: 250px;
  height: 175px;
  margin-right: 7px;
  margin-bottom: 7px;
}

.accommodation:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.banner {
  width: 100%;
}

.description {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 0px;
  background-color: white;
  padding: 20px;
}

.top {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 90%;
}

.list {
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  padding-right: 20px;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(20, 9, 5);
  margin-left: -20px;
}

/* Booking */
.roomImg {
  width: 45%;
}

.bookMain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.body {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 90%;
}

.bigBookBtn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(90, 63, 20);
  width: 100%;
  background-color: rgb(255, 237, 209);
  padding: 0px;
  border-radius: 5px;
  border-color: rgb(222, 200, 165);
  height: 85px;
}

.bigBook {
  margin: 0px;
}

/* Search */
.dateInput {
  display: flex;
  flex-wrap: wrap;
}

.searchLabel {
  width: 90px;
  margin: 5px;
}

.to {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

.inputDate {
  height: 15px;
  width: 71.5px;
}

.none {
  font-size: 13px;
  color: rgba(53, 40, 36, 0.733);
  margin-left: 6px;
  margin-top: 0px;
}

.card {
  margin-top: 7px;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  filter: drop-shadow(0 0 0.5rem rgba(53, 40, 36, 0.733));
  width: 400px;
}

/* Checkin */
.textInput {
  display: flex;
  flex-wrap: wrap;
}

.textbox {
  height: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(20, 9, 5);
}

.bookingLabel {
  width: 150px;
  margin: 5px;
}

.fileSubmit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(20, 9, 5);
}

.btnSubmit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(20, 9, 5);
  background-color: rgb(255, 237, 209);
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(222, 200, 165);
}

.checkinBckg {
  background-image: url(img/beach.jpg);
  background-size: auto;
}

.checkinMain {
  background-color: white;
  filter: drop-shadow(0 0 0.5rem rgba(53, 40, 36, 0.733));
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  margin-top: 10%;
}

.checkinTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(90, 63, 20);
  padding: 5px;
  margin: 0px;
  margin-bottom: 15px;
  text-align: center;
}

.checkinTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkinText {
  margin-top: 5px;
  color: rgba(53, 40, 36, 0.61);
  font-size: 14px;
}

.btnBegin {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(20, 9, 5);
  background-color: rgb(255, 237, 209);
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(222, 200, 165);
  height: 30px;
}

.checkinBtns {
  display: flex;
  justify-content: space-between;
}

.videoElement {
  height: 300px;
  width: 300px;
  background-color: rgb(36, 31, 31);
  border-radius: 10px;
  transform: rotateY(180deg);
}

.canvas {
  height: 235px;
  width: 300px;
}

.picture {
  display: block;
}
